services:
  directory_service:
    container_name: directory-service-etetudyyd
    restart: always
    build:
      context: ./backend/DirectoryService
      dockerfile: Dockerfile
      args:
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    ports:
      - "8080:8080"  
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      postgres:
          condition: service_healthy   
  
  postgres:
    container_name: postgres-etetudyyd
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: reservation_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/date
    restart: always
    
  seq:
    image: datalust/seq:2024.1
    container_name: seq-etetudyyd
    restart: always
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 5341:80
      - 5342:5341    
    volumes:
      - seq-data:/data
        
  minio:
    container_name: minio-etetudyyd
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server --console-address ":9001" /data
    restart: always

volumes:
  postgres-data:
  seq-data:
  redis-data:
