services:
  directory_service:
    container_name: directory-service
    restart: always
    build:
      context: ./backend/DirectoryService
      dockerfile: Dockerfile
    ports:
      - "8080:8080"  
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:8080
    
    depends_on:
      postgres:
          condition: service_healthy
      
  
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: reservation_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - postgres-data:/var/lib/postgresql/data

  seq:
    image: datalust/seq:2024.1
    container_name: seq
    restart: always
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 5341:80
      - 5342:5341    
    volumes:
      - seq-data:/data

volumes:
  postgres-data:
  seq-data:
